<section class="row">
  <div class="col-6">
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
</div>
<div class="col-6">
  <img src="fatty.png" alt="">
</div>
</section>